<head>
  <title><%= settings.name %></title>
  <link rel="icon" type="image/x-icon" href="../assets/favicon.png">
  <link rel="stylesheet" href="../assets/tailwind.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

  <!-- Inter font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="bg-white rounded-lg shadow sm:items-center sm:justify-between p-4 sm:p-6 xl:p-8 dark:bg-gray-900 antialiased" style="font-family: 'Inter', sans-serif;">
  <%- include('../components/navigation') %>
  <div class="md:pl-52 flex flex-col flex-1 h-screen">
    <main class="flex-1 pb-32">
      <div class="py-6">
        <% /* Skeleton loader, lasts about 0.3s to let the page content load */ %>
        <%- include('../components/skeleton') %>
        <div class="hidden max-w-7xl pt-8 mx-auto px-4 sm:px-6 md:px-8" id="content">
          <div class="lg:flex lg:items-center lg:justify-between rounded-3xl mb-8">
            <div class="min-w-0 flex-1">
              <div class="flex">
                <div class="relative">
                </div>
                <div class="relative ml-4">
                  <h2 class="text-xl font-semibold text-white sm:truncate tracking-tight">Your servers</h2>
                  <p class="text-xs font-thin text-white">View a list of servers on your account.</p>
                </div>
              </div>
            </div>
          </div>
          <% if (req.query.err && req.query.err == "CREATED") { %>
            <div id="alert-3" class="flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
              <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">create</span>
              <div class="ms-3 text-sm font-medium">
                Server Created
              </div>
              <a href="../servers" class="ms-auto -mx-1.5 -my-1.5focus:ring-2 p-1.5 inline-flex items-center justify-center h-8 w-8" >
              <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-3" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
              </button>
              </a>
            </div>
          <% } %>
          <% if (req.query.err && req.query.err == "MODIFIED") { %>
            <div id="alert-3" class="flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
              <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">change</span>
              <div class="ms-3 text-sm font-medium">
                Server Resources Changed
              </div>
              <a href="../servers" class="ms-auto -mx-1.5 -my-1.5focus:ring-2 p-1.5 inline-flex items-center justify-center h-8 w-8" >
              <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-3" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
              </button>
              </a>
            </div>
          <% } %>
          <% if (req.query.err && req.query.err == "DELETED") { %>
            <div id="alert-2" class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">delete</span>
              <div class="ms-3 text-sm font-medium">
                Server Deleted
              </div>
              <a href="../servers" class="ms-auto -mx-1.5 -my-1.5focus:ring-2 p-1.5 inline-flex items-center justify-center h-8 w-8" >
              <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
              </button>
              </a>
            </div>
          <% } %>
          <% if (pterodactyl.relationships.servers.data.length == 0) { %>
          <div class="text-center md:mt-[30vh]">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-auto h-12 w-12 text-gray-400">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 17.25v-.228a4.5 4.5 0 0 0-.12-1.03l-2.268-9.64a3.375 3.375 0 0 0-3.285-2.602H7.923a3.375 3.375 0 0 0-3.285 2.602l-2.268 9.64a4.5 4.5 0 0 0-.12 1.03v.228m19.5 0a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3m19.5 0a3 3 0 0 0-3-3H5.25a3 3 0 0 0-3 3m16.5 0h.008v.008h-.008v-.008Zm-3 0h.008v.008h-.008v-.008Z" />
            </svg>
            <h3 class="mt-4 text-xl font-semibold tracking-tight text-white">Create your first server</h3>
            <p class="mt-1 text-xs text-white">You don't have any servers yet.</p>
            <div class="mt-6">
              <a href="../servers/new" type="button" class="transition inline-flex items-center rounded-md bg-[4d7c0f] hover:bg-[#3f6212] px-6 py-1.5 text-xs font-light text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#3f6212]">
                Create a server
              </a>
            </div>
          </div>
          <% } else { %>
          <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2">
            <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>
            <div class="px-4 py-5 bg-white dark:bg-gray-800 rounded-3xl overflow-hidden sm:p-6 lg:p-10">
              <div class="lg:flex lg:items-center lg:justify-between">
                <div class="min-w-0 flex-1">
                  <h2 class="text-lg font-semibold text-white sm:truncate sm:text-2xl sm:tracking-tight"><%= pterodactyl.relationships.servers.data[i].attributes.name.length > 40 ? pterodactyl.relationships.servers.data[i].attributes.name.slice(0, 40) + "..." : pterodactyl.relationships.servers.data[i].attributes.name %></h2>
                  <p class="text-sm font-light text-white"><%= pterodactyl.relationships.servers.data[i].attributes.identifier %></p>
                </div>
                <div class="mt-5 flex lg:ml-4 lg:mt-0">
                  <span class="sm:ml-3">
                    <a href="../edit?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>" class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-[4d7c0f] hover:bg-{#3f6212} focus:ring-4 focus:ring-primary-300 dark:bg-[#65a30d] dark:hover:bg-[#4d7c0f] focus:outline-none dark:focus:ring-[#3f6212]">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 mr-1.5 h-5 w-5 text-gray-600">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
                      </svg>
                      Settings
                    </a>
                  </span>
                </div>
              </div>
              <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
                <!-- Resources -->
                <div class="px-4 py-5 bg-gray-900 transition rounded-3xl overflow-hidden sm:p-6">
                  <dt class="text-sm font-medium text-white truncate">CPU Cores</dt>
                  <dd class="mt-1 text-1xl font-light tracking-tight text-white">
                    <%= pterodactyl.relationships.servers.data[i].attributes.limits.cpu/100 %>
                  </dd>
                </div>
                <div class="px-4 py-5 bg-gray-900 transition rounded-3xl overflow-hidden sm:p-6">
                  <dt class="text-sm font-medium text-white truncate">Memory</dt>
                  <dd class="mt-1 text-1xl font-light tracking-tight text-white">
                    <%= pterodactyl.relationships.servers.data[i].attributes.limits.memory/1024 %> GiB
                  </dd>
                </div>
                <div class="px-4 py-5 bg-gray-900 transition rounded-3xl overflow-hidden sm:p-6">
                  <dt class="text-sm font-medium text-white truncate">Storage</dt>
                  <dd class="mt-1 text-1xl font-light tracking-tight text-white">
                    <%= pterodactyl.relationships.servers.data[i].attributes.limits.disk/1024 %> GiB
                  </dd>
                </div>
              </dl>
            </div>
            <% } %>
            <% } %>
            <% if (pterodactyl.relationships.servers.data.length == 1) { %>
            <div class="px-4 py-5 bg-gray-800 rounded-3xl overflow-hidden sm:p-6 justify-center">
              <div class="flex flex-col items-center justify-center h-full">
                <a href="../servers/new" class="transition inline-flex items-center rounded-2xl bg-gray-900 p-4 text-sm font-light text-white hover:text-gray-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                  </svg>
                </a>
              </div>
            </div>
            <% } %>
          </dl>
        </div>
      </div>
    </main>
    <%- include('../components/footer') %>
  </div>
  </div>
</body>