<head>
  <title><%= settings.name %></title>
  <link rel="icon" type="image/x-icon" href="../assets/favicon.png">
  <link rel="stylesheet" href="../assets/tailwind.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

  <!-- Inter font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="bg-white rounded-lg shadow sm:items-center sm:justify-between p-4 sm:p-6 xl:p-8 dark:bg-gray-900 antialiased" style="font-family: 'Inter', sans-serif;">
  <%- include('../components/navigation') %>
  <div class="md:pl-52 flex flex-col flex-1 h-screen">
    <main class="flex-1 pb-32">
      <div class="py-6">
        <% /* Skeleton loader, lasts about 0.3s to let the page content load */ %>
        <%- include('../components/skeleton') %>
        <div class="hidden max-w-7xl pt-8 mx-auto px-4 sm:px-6 md:px-8" id="content">
          <div class="lg:flex lg:items-center lg:justify-between rounded-3xl mb-8">
            <div class="min-w-0 flex-1">
              <div class="flex">
                <div class="relative">
                </div>
                <div class="relative ml-4">
                  <h2 class="text-xl font-semibold text-white sm:truncate tracking-tight">AFK Page</h2>
                  <p class="text-xs font-thin text-white">You'll automatically get coins for leaving this page open.</p>
                </div>
              </div>
            </div>
          </div>
          <p class="text-white text-sm text-center">Countdown: <span id="arciotimer"></span> seconds</p>
          <p class="text-white text-sm text-center">Earnings: <span id="arciogainedcoins">0</span> coins</p>
          <p class="text-white text-sm text-center">Duration: <span id="sessionDuration">-</span></p>

          <script>
            <%- arcioafktext %>
          </script>
        </div>
      </div>
    </main>
    <%- include('../components/footer') %>
  </div>
  </div>
</body>