<head>
  <title><%= settings.name %></title>
  <link rel="icon" type="image/x-icon" href="../assets/favicon.png">
  <link rel="stylesheet" href="../assets/tailwind.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

  <!-- Inter font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="bg-white rounded-lg shadow sm:items-center sm:justify-between p-4 sm:p-6 xl:p-8 dark:bg-gray-900 antialiased" style="font-family: 'Inter', sans-serif;">
  <div>
    <%- include('../components/navigation') %>
    <div class="md:pl-52 flex flex-col flex-1 h-screen">
      <main class="flex-1 pb-32">
        <div class="py-6">
          <% /* Skeleton loader, lasts about 0.3s to let the page content load */ %>
          <%- include('../components/skeleton') %>
          <div class="hidden max-w-7xl pt-8 mx-auto px-4 sm:px-6 md:px-8" id="content">
            <div class="lg:flex lg:items-center lg:justify-between rounded-3xl mb-8">
              <div class="min-w-0 flex-1">
                <div class="flex">
                  <div class="relative">
                    
                  </div>
                  <div class="relative ml-4">
                    <h2 class="text-xl font-semibold text-white sm:truncate tracking-tight">Shop</h2>
                    <p class="text-xs font-thin text-gray-300">Use your coins to purchase resources.</p>
                  </div>
                </div>
              </div>
            </div>
            <% if (req.query.err) { %>
            <% if (req.query.err == "none") { %>
            <div id="alert-3" class="flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">purchase</span>
                <div class="ms-3 text-sm font-medium">
                  Resources purchased
                </div>
                <a href="../store" class="ms-auto -mx-1.5 -my-1.5focus:ring-2 p-1.5 inline-flex items-center justify-center h-8 w-8" >
                <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-3" aria-label="Close">
                  <span class="sr-only">Close</span>
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                </button>
                </a>
              </div>
            <% } else { %>
              <div id="alert-2" class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">error</span>
                <div class="ms-3 text-sm font-medium">
                  Error code: CANNOTAFFORD
                </div>
                <a href="../store" class="ms-auto -mx-1.5 -my-1.5focus:ring-2 p-1.5 inline-flex items-center justify-center h-8 w-8" >
                <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
                  <span class="sr-only">Close</span>
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                </button>
                </a>
              </div>
            <% } %>
            <% } %>
            <div>
              <dl class="mt-5 grid grid-cols-1 rounded-lg bg-gray-900 overflow-hidden md:grid-cols-4 gap-5">
                <div class="dark:bg-gray-800 px-4 py-5 sm:p-6 lg:p-8 bg-white rounded-3xl">
                  <dt class="text-xl tracking-tight font-semibold text-white"><i style="color: #00ff0d; transform: translateY(3px); font-size: 24px;" class='bx bx-ruler'></i> Upgrade Ram</dt>
                  <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                    <div class="mt-1 flex rounded-md">
                      <form action="javascript:void(0);">
                        <select id="ram" name="amount" class="dark:bg-gray-900 mt-3 px-4 py-2 focus:border-gray-400 focus:ring-gray-600 border border-gray-200 shadow-sm transition ease-in-out delay-100 group relative flex w-full text-sm justify-center form-control rounded-md placeholder:text-gray-400 text-white" class="select-selected">
                          <option value=1><%= settings.api.client.coins.store.ram.per/1024 %> GiB Memory - <%= settings.api.client.coins.store.ram.cost %> coin<%= settings.api.client.coins.store.ram.cost == 1 ? "" : "s" %></option>
                          <option value=2><%= settings.api.client.coins.store.ram.per/1024 * 2 %> GiB Memory - <%= settings.api.client.coins.store.ram.cost * 2 %> coins</option>
                          <option value=3><%= settings.api.client.coins.store.ram.per/1024 * 3 %> GiB Memory - <%= settings.api.client.coins.store.ram.cost * 3 %> coins</option>
                          <option value=4><%= settings.api.client.coins.store.ram.per/1024 * 4 %> GiB Memory - <%= settings.api.client.coins.store.ram.cost * 4 %> coins</option>
                          <option value=5><%= settings.api.client.coins.store.ram.per/1024 * 5 %> GiB Memory - <%= settings.api.client.coins.store.ram.cost * 5 %> coins</option>
                          <option value=6><%= settings.api.client.coins.store.ram.per/1024* 6 %> GiB Memory - <%= settings.api.client.coins.store.ram.cost * 6 %> coins</option>
                          <option value=7><%= settings.api.client.coins.store.ram.per/1024 * 7 %> GiB Memory - <%= settings.api.client.coins.store.ram.cost * 7 %> coins</option>
                          <option value=8><%= settings.api.client.coins.store.ram.per/1024 * 8 %> GiB Memory - <%= settings.api.client.coins.store.ram.cost * 8 %> coins</option>
                          <option value=9><%= settings.api.client.coins.store.ram.per/1024 * 9 %> GiB Memory - <%= settings.api.client.coins.store.ram.cost * 9 %> coins</option>
                          <option value=10><%= settings.api.client.coins.store.ram.per/1024 * 10 %> GiB Memory - <%= settings.api.client.coins.store.ram.cost * 10 %> coins</option>
                        </select>
                        <br>
                        <button onclick="buyCPU()" type="submit" class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-[4d7c0f] hover:bg-{#3f6212} focus:ring-4 focus:ring-primary-300 dark:bg-[#65a30d] dark:hover:bg-[#4d7c0f] focus:outline-none dark:focus:ring-[#3f6212]">
                          Purchase
                        </button>
                      </form>
                    </div>
                  </dd>
                </div>

                <div class="dark:bg-gray-800 px-4 py-5 sm:p-6 lg:p-8 bg-white rounded-3xl">
                  <dt class="text-xl tracking-tight font-semibold text-white"><i style="color: #fc3737; transform: translateY(3px); font-size: 24px;" class='bx bx-microchip'></i> Upgrade CPU</dt>
                  <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                    <div class="mt-1 flex rounded-md">
                      <form action="javascript:void(0);">
                        <select id="cpu" name="amount" class="dark:bg-gray-900 mt-3 px-4 py-2 focus:border-gray-400 focus:ring-gray-600 border border-gray-200 shadow-sm transition ease-in-out delay-100 group relative flex w-full text-sm justify-center form-control rounded-md placeholder:text-gray-400 text-white" class="select-selected">
                          <option value=1><%= settings.api.client.coins.store.cpu.per/100 %> CPU Cores - <%= settings.api.client.coins.store.cpu.cost %> coin<%= settings.api.client.coins.store.cpu.cost == 1 ? "" : "s" %></option>
                          <option value=2><%= settings.api.client.coins.store.cpu.per/100 * 2 %> CPU Cores - <%= settings.api.client.coins.store.cpu.cost * 2 %> coins</option>
                          <option value=3><%= settings.api.client.coins.store.cpu.per/100 * 3 %> CPU Cores - <%= settings.api.client.coins.store.cpu.cost * 3 %> coins</option>
                          <option value=4><%= settings.api.client.coins.store.cpu.per/100 * 4 %> CPU Cores - <%= settings.api.client.coins.store.cpu.cost * 4 %> coins</option>
                          <option value=5><%= settings.api.client.coins.store.cpu.per/100 * 5 %> CPU Cores - <%= settings.api.client.coins.store.cpu.cost * 5 %> coins</option>
                          <option value=6><%= settings.api.client.coins.store.cpu.per/100* 6 %> CPU Cores - <%= settings.api.client.coins.store.cpu.cost * 6 %> coins</option>
                          <option value=7><%= settings.api.client.coins.store.cpu.per/100 * 7 %> CPU Cores - <%= settings.api.client.coins.store.cpu.cost * 7 %> coins</option>
                          <option value=8><%= settings.api.client.coins.store.cpu.per/100 * 8 %> CPU Cores - <%= settings.api.client.coins.store.cpu.cost * 8 %> coins</option>
                          <option value=9><%= settings.api.client.coins.store.cpu.per/100 * 9 %> CPU Cores - <%= settings.api.client.coins.store.cpu.cost * 9 %> coins</option>
                          <option value=10><%= settings.api.client.coins.store.cpu.per/100 * 10 %> CPU Cores - <%= settings.api.client.coins.store.cpu.cost * 10 %> coins</option>
                        </select>
                        <br>
                        <button onclick="buyCPU()" type="submit" class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-[4d7c0f] hover:bg-{#3f6212} focus:ring-4 focus:ring-primary-300 dark:bg-[#65a30d] dark:hover:bg-[#4d7c0f] focus:outline-none dark:focus:ring-[#3f6212]">
                          Purchase
                        </button>
                      </form>
                    </div>
                  </dd>
                </div>

                <div class="dark:bg-gray-800 px-4 py-5 sm:p-6 lg:p-8 bg-white rounded-3xl">
                  <dt class="text-xl tracking-tight font-semibold text-white"><i style="color: #fcd837; transform: translateY(3px); font-size: 24px;" class='bx bx-hdd'></i> Upgrade Disk</dt>
                  <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                    <div class="mt-1 flex rounded-md">
                      <form action="javascript:void(0);">
                        <select id="disk" name="amount" class="dark:bg-gray-900 mt-3 px-4 py-2 focus:border-gray-400 focus:ring-gray-600 border border-gray-200 shadow-sm transition ease-in-out delay-100 group relative flex w-full text-sm justify-center form-control rounded-md placeholder:text-gray-400 text-white" class="select-selected">
                          <option value=1><%= settings.api.client.coins.store.disk.per/1024 %> GiB Storage - <%= settings.api.client.coins.store.disk.cost %> coin<%= settings.api.client.coins.store.disk.cost == 1 ? "" : "s" %></option>
                          <option value=2><%= settings.api.client.coins.store.disk.per/1024 * 2 %> GiB Storage - <%= settings.api.client.coins.store.disk.cost * 2 %> coins</option>
                          <option value=3><%= settings.api.client.coins.store.disk.per/1024 * 3 %> GiB Storage- <%= settings.api.client.coins.store.disk.cost * 3 %> coins</option>
                          <option value=4><%= settings.api.client.coins.store.disk.per/1024 * 4 %> GiB Storage - <%= settings.api.client.coins.store.disk.cost * 4 %> coins</option>
                          <option value=5><%= settings.api.client.coins.store.disk.per/1024 * 5 %> GiB Storage - <%= settings.api.client.coins.store.disk.cost * 5 %> coins</option>
                          <option value=6><%= settings.api.client.coins.store.disk.per/1024 * 6 %> GiB Storage - <%= settings.api.client.coins.store.disk.cost * 6 %> coins</option>
                          <option value=7><%= settings.api.client.coins.store.disk.per/1024 * 7 %> GiB Storage - <%= settings.api.client.coins.store.disk.cost * 7 %> coins</option>
                          <option value=8><%= settings.api.client.coins.store.disk.per/1024 * 8 %> GiB Storage - <%= settings.api.client.coins.store.disk.cost * 8 %> coins</option>
                          <option value=9><%= settings.api.client.coins.store.disk.per/1024 * 9 %> GiB Storage - <%= settings.api.client.coins.store.disk.cost * 9 %> coins</option>
                          <option value=10><%= settings.api.client.coins.store.disk.per/1024 * 10 %> GiB Storage - <%= settings.api.client.coins.store.disk.cost * 10 %> coins</option>
                        </select>
                        <br>
                        <button onclick="buyCPU()" type="submit" class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-[4d7c0f] hover:bg-{#3f6212} focus:ring-4 focus:ring-primary-300 dark:bg-[#65a30d] dark:hover:bg-[#4d7c0f] focus:outline-none dark:focus:ring-[#3f6212]">
                          Purchase
                        </button>
                      </form>
                    </div>
                  </dd>
                </div>
                
                <div class="dark:bg-gray-800 px-4 py-5 sm:p-6 lg:p-8 bg-white rounded-3xl">
                  <dt class="text-xl tracking-tight font-semibold text-white"><i style="color: #37a3fc; transform: translateY(3px); font-size: 24px;" class='bx bx-server'></i> Server Slots</dt>
                  <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                    <div class="mt-1 flex rounded-md">
                      <form action="javascript:void(0);">
                        <select id="servers" name="amount" class="dark:bg-gray-900 mt-3 px-4 py-2 focus:border-gray-400 focus:ring-gray-600 border border-gray-200 shadow-sm transition ease-in-out delay-100 group relative flex w-full text-sm justify-center form-control rounded-md placeholder:text-gray-400 text-white" class="select-selected">
                          <option value=1><%= settings.api.client.coins.store.servers.per %> Servers - <%= settings.api.client.coins.store.servers.cost %> coin<%= settings.api.client.coins.store.servers.cost == 1 ? "" : "s" %></option>
                          <option value=2><%= settings.api.client.coins.store.servers.per * 2 %> Servers - <%= settings.api.client.coins.store.servers.cost * 2 %> coins</option>
                          <option value=3><%= settings.api.client.coins.store.servers.per * 3 %> Servers- <%= settings.api.client.coins.store.servers.cost * 3 %> coins</option>
                          <option value=4><%= settings.api.client.coins.store.servers.per * 4 %> Servers - <%= settings.api.client.coins.store.servers.cost * 4 %> coins</option>
                          <option value=5><%= settings.api.client.coins.store.servers.per * 5 %> Servers - <%= settings.api.client.coins.store.servers.cost * 5 %> coins</option>
                          <option value=6><%= settings.api.client.coins.store.servers.per * 6 %> Servers - <%= settings.api.client.coins.store.servers.cost * 6 %> coins</option>
                          <option value=7><%= settings.api.client.coins.store.servers.per * 7 %> Servers - <%= settings.api.client.coins.store.servers.cost * 7 %> coins</option>
                          <option value=8><%= settings.api.client.coins.store.servers.per * 8 %> Servers - <%= settings.api.client.coins.store.servers.cost * 8 %> coins</option>
                          <option value=9><%= settings.api.client.coins.store.servers.per * 9 %> Servers - <%= settings.api.client.coins.store.servers.cost * 9 %> coins</option>
                          <option value=10><%= settings.api.client.coins.store.servers.per * 10 %> Servers - <%= settings.api.client.coins.store.servers.cost * 10 %> coins</option>
                        </select>
                        <br>
                        <button onclick="buyCPU()" type="submit" class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-[4d7c0f] hover:bg-{#3f6212} focus:ring-4 focus:ring-primary-300 dark:bg-[#65a30d] dark:hover:bg-[#4d7c0f] focus:outline-none dark:focus:ring-[#3f6212]">
                          Purchase
                        </button>
                      </form>
                    </div>
                  </dd>
                </div>
            </div>
            </dl>
            <script>
              async function buyRAM() {
                let amount = encodeURIComponent(document.getElementById("ram").value);
                document.location.href = `/buy?type=ram&amount=${amount}`;
              };

              async function buyDisk() {
                let amount = encodeURIComponent(document.getElementById("disk").value);
                document.location.href = `/buy?type=disk&amount=${amount}`;
              };

              async function buyServers() {
                let amount = encodeURIComponent(document.getElementById("servers").value);
                document.location.href = `/buy?type=servers&amount=${amount}`;
              };

              async function buyCPU() {
                let amount = encodeURIComponent(document.getElementById("cpu").value);
                document.location.href = `/buy?type=cpu&amount=${amount}`;
              };
            </script>



          </div>
        </div>
      </main>
      <%- include('../components/footer') %>
    </div>
  </div>
</body>